*{
    padding: 5px;
    margin: 5px;
    border: 0px;
}
body{
    background-color: yellow;
}
header{
    background-color: orange;
    width: auto;
    height: 50px;
}
nav{
    background-color: rgb(16, 232, 52);
}
section{
    background-color: white;
    width: auto;
    height: 200px;
}
aside{
    background-color: cyan;
}
footer{
    background-color: blue;
    width: auto;
    height: 50px;
}